body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,112,0.6418942577030813) 0%, rgba(0,212,255,1) 100%);
}

.title{
    color: darkblue;
}

.foto{
    width: 380px;
    height: 500px;
    border: 2px black solid;
}